html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;

}
/* indexView.php */
nav{
    height: 30%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
}
section{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}
ul{
    width: 99%;
    height: 99%;
    padding: 0;
    border: 1px solid #41046f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: content-box;
    margin: 10px;
    border-radius: 20px;
}
.liIndexView{
    width: 42.5%;
    height: 45%;
    list-style-type: none;
    border-radius: 30px;
    border: 1px solid #41046f;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}
h2{
    width: 100%;
    height: 10%;
    margin: 10px;
}
.textNimgIndex{
    height: 65%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

#presentation{
    width: 87.5%;
    height: 40%;
    border: 1px solid #41046f;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
   width: 35%; 
}

p{
    width: 100%;
    height: 15%;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #41046f;
}
#citation{
    border: none;
    text-align: justify;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    letter-spacing: 1px;
}

#header{
    width: 100%;
    height: 100%;
}
.info{
    width: 65%;
    height: 100%;
    border: none;
    padding: 30px;
    text-align: justify;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-a{
    display: flex;
    justify-content: flex-end;
    width: 95%;
    height: 10%;
}
.preparer{
    width: 16%;
    height: 90%;
    border: 1px solid #000;
}

.p1{
    height: 66%;
    background-color: aqua;
    width: 80%;
    margin-left: 190px;
    margin-top: 100px;
    margin-right: 0px;
}

/* paillasse */
.room{
    display: grid;

    /* test en pourcentage */
    grid-template-columns:  1.5fr 0.3fr 0.5fr 0.8fr 1.1fr 0.9fr 0.5fr 0.3fr 1.5fr ;
    grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr 3fr;

    grid-template-areas:
        "armoire1 armoire1 armoire1 hote hote hote armoire2 armoire2 armoire2"
        "armoire1 armoire1 armoire1 hote hote hote armoire2 armoire2 armoire2"
        "armoire1  armoire1 armoire1 hote hote hote armoire2 armoire2 armoire2"
        "vide1 vide1 vide1 vide1 vide1 vide1 vide1 vide1 vide1"
        "paillasse paillasse paillasse paillasse paillasse paillasse paillasse paillasse paillasse"
        "paillasse paillasse paillasse paillasse paillasse paillasse paillasse paillasse paillasse"
        "armoire3 vide3 trash1 trash1 trash2 trash3 trash3 vide4 armoire4"
    ;

    background-image: url("../pictures/paillasse.png");
    background-size: 100% 100%;

    /*  option à enlever */
    width: 100%;
    height: 100%;
}

/* ModalElement */
#modal{
    display: none;
}

#modalVisible{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../pictures/apprentis_pas_sages_bg);;
}

.flex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* Formulaire element */

#formElement{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
    box-sizing: border-box;
}
#sectionGauche{
    height: 90%;
    width: 50%;
    background-color: tomato;
    display: flex;
    flex-wrap: wrap;
}

#sectionDroite{
    height: 90%;
    width: 50%;
    background-color: white;
    display: flex;
    flex-wrap: wrap; 
}

#submit{
    width: 20%;
    height: 5%;
}

.wrapper-element{
    width: 20%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* les armoires */
#element{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

#outil{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
/* css d'ouverture des menus déroulants */
.has-openLeft{
    transform: translateX(+0%);
    transition: transform 0.4s;
}
.has-closeLeft{
    transform: translateX(-90%);
    transition: transform 0.4s;
}

.has-openRight{
    transform: translateX(+0%);
    transition: transform 0.4s;
}
.has-closeRight{
    transform: translateX(90%);
    transition: transform 0.4s;
}

/* div du menu déroulant */
#contentElement{
    width: 90%;
    height: 100%;
    background-color: azure;
}

.liElements{
   width: 100%;
   height: 25%; 

   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
}


/* Liste element prochaine à supprimer */
#listeElement{
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
/* les boutons d'ouverture et de fermeture */
#buttonLeft{
    width: 10%;
    height: 15%;
    background-color: blue;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}


#buttonRight{
    width: 10%;
    height: 15%;
    background-color: blue;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

/* le formulaire pour selectionner les éléments */
#form-elements{
    width: 30%;
    height: 30%;
    background-color: teal;
}



#a1, #a2, #a3, #a4{
    /* background-color: cadetblue; */
    border: 1px solid #000;
}

#a1{
    grid-area: armoire1;
}
#a2{
    grid-area: armoire2;
}
#a3{
    grid-area: armoire3;
}
#a4{
    grid-area: armoire4;
}

/* la hôte */
.hote{
    grid-area: hote;
    /* background-color: coral; */
    border: 1px solid #000;
}

/* les espaces vides */
#es1, #es2, #es3{
    /* background-color: #fff; */
    border: 1px solid #000;
}

#es1{
    grid-area: vide1;
}
#es2{
    grid-area: vide2;
}
#es3{
    grid-area: vide3;
}
#es4{
    grid-area: vide4;
}
#es5{
    grid-area: vide5;
}

/* les poubelles */
.trash{
    /* background-color: crimson; */
    grid-area: trash;
    border: 1px solid #000;
}
#t1{
    grid-area: trash1;
}
#t2{
    grid-area: trash2;
}
#t3{
    grid-area: trash3;
}

/* la paillasse */
.paillasse{
    grid-area: paillasse;
    border: 1px solid #000;
}

/* paillasse élément crée */

.elementOutil{
    width: 100%;
    height: 100%;
    background-color: #41046f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formOutil{
    width: 90%;
    height: 90%;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 30%;
    background-color: yellow;
    color: white;
    font-size: 36px;
    border: 1px solid #000;
}

/* reac */

.tableau {
    background-image: url("img/tableau.jpg");
    background-size: cover;
    width: 310px;
    height: 250px;
    color: white;
    font-family: 'Dancing Script';
    margin-right: 100px;
}

h3 {
    padding: 15px;
    padding-bottom: 0px;
}

.note {
    background-image: url("img/carnet.png");
    width: 300px;
    height: 400px;
    font-family: 'Dancing Script';
}

p {
    margin-left: 80px;
}

section {
    display: flex;
    flex-wrap: nowrap;
}

.f {
    text-decoration: line-through;
}

input {
    border: none;
    border-bottom: 2px solid #818383;
}

.bloc {
    margin-top: 103px;
}

.drag-drop {
    width: 200px;
    height: 100px;
    /* border: 2px solid #8181F7;
    background: #BDBDBD; */
    padding: 10px;
}

